<footer style="text-align:center;margin-top:40px" id="footer">
    <strong><a href="{{ site.author_link }}" target="_blank">{{ site.author }}</a></strong>
    <p style="width:50%;text-align:center" class="legal">
    Eu sou um desenvolvedor de software de São José dos Campos/Brasil.
    Me formei em análise e desenvolvimento de sistemas pela Fatec SJC e
    atualmente trabalho em uma startup de educação chamada <a target="_blank" href="http://www.qmagico.com.br/">QMágico.</a>
    Me interesso em web e aplicações restful, arquitetura de software, python, desenvolvimento de jogos e mais um monte de coisas.
    </p>
</footer>
