.nav-menu {
	margin-left: 2%;
}

.ul-inline{
	margin-top: 2%;
}

.ul-inline li {
	display: inline;
}

.ul-inline li a {
	color: #398ad5;
}

.ul-inline li a:hover {
	text-decoration: underline;
}
.p-align-center {
    text-align: center;
}