{% extends "base.html" %}
{% block css %}
	{{super()}}
{% endblock %}
{% block content %}
    <header>
        <div class="p-align-center">
            <img src='https://secure.gravatar.com/avatar/31282e8e0968df74a328f409e2b70cde?s=200'
            	  alt="Quem sou eu">
        </div>
	</header>
	<p>Sou um desenvolvedor de São José dos Campos/Brasil. Atualmente trabalho com desenvolvimento web, mas os 
		meus interesses vão desde eletrônica até criptografia e games.</p>
	<p>Este blog é a minha tentativa de registrar as experiências que faço no meu tempo livre.</p>
	<p>Você pode me contactar das seguintes formas:</p>
	<ul class="ul-inline">
	    <li>
	        <a target="_blank" href="{{author.twitter}}">Twitter</a>,
	    </li>
	    <li>
	        <a target="_blank" href="mailto: {{author.email}}"> Email</a>,
	    </li>
	    <li>
	        <a target="_blank" href="{{author.github}}"> Github</a>
	    </li>
	</ul>
{% endblock %}
