<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#bdc3c7">
  <link rel="icon"  href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

  <title>{{title}}</title>

  {% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/analytics.js') }}"></script>
  {% endblock %}
  {% block css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% endblock %}  

</head>
<body>

<nav class="nav-menu">
    <ul class="ul-inline">
        <li><a href="{{ url_for('home') }}">Página Inicial</a></li>
        <li><a href="/about.html">Sobre</a></li>
        <li><a target="_blank" href="https://github.com/IuryAlves/iuryalves.github.io">Código Fonte</a></li>
    </ul>
</nav>

  <section role="main">
    <article class="post">
      {% block content %}{% endblock %}
    </article>
  </section>

{% block footer %}
{% endblock %}
</body>
</html>