<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ "/img/favicon.png" }}" type="image/png">

  <title>{% block page_title %}Your Site{% endblock %}</title>

  <script type="text/javascript" src="{{ url_for('static', filename='js/analytics.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typekit.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% block css %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Sanchez" type="text/css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/typekit.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
      
  {% endblock %}

</head>
<body>

<nav class="nav-menu">
    <ul class="li-inline">
        <li><a href="{{ url_for('home') }}">Página Inicial</a></li>
        <li><a href="https://github.com/sloria/flask-ghpages-example">Código Fonte</a></li>
    </ul>
</nav>

  <section role="main">
    <article class="post">
      {% block content %}{% endblock %}
    </article>
  </section>

{% block footer %}
{% endblock %}
{# <script src="{{ url_for('static', filename='js/script.js') }}"></script> #}
</body>
</html>