{% extends "base.html" %}
{% block css %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
{% endblock %}
{% block content %}
	{% include 'header.html' %}
	{{ page }}
<div class="disqus" id="disqus_thread"></div>
<script>
    (function() {
        var d = document, s = d.createElement('script');
        
        s.src = '//iurythoughts.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
